.body {
  font-family: "Open Sans", sans-serif;
}
.btn-rn-outline {
  border: 1.2px solid #ff5e1f;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0);
  color: #ff5e1f;
  padding: 5px 11px;
  font-size: 16px;
  cursor: pointer;
}

.btn-rn-outline:hover {
  color: #fff;
  background-color: #ff5e1f;
}

.rn-nav-link {
  color: #1f1f1f;
  font-weight: 500;
  text-decoration: none;
}
.rn-nav-link:hover {
  color: #ff5e1f;
  font-weight: 500;
  text-decoration: none;
}
.rn-nav-link:active {
  color: #ff5e1f;
  font-weight: 500;
  text-decoration: none;
}

.pre-footer {
  background-color: #ff5e1f;
}

.pre-footer-btn {
  background-color: #fff;
  padding: 15px;
  padding-right: 60px;
  padding-left: 60px;
  border-radius: 7px;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
}

.pre-footer-btn:hover {
  background-color: #fff;
  padding: 15px;
  padding-right: 60px;
  padding-left: 60px;
  border-radius: 7px;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-box-shadow: 6px 6px 30px -6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 6px 6px 30px -6px rgba(0, 0, 0, 0.3);
  box-shadow: 6px 6px 30px -6px rgba(0, 0, 0, 0.3);
}
