.bg-naranja{
    background: linear-gradient(226deg, #ff5e1f, #300db1);
    background-size: 400% 400%;

    -webkit-animation: portada-animacion 16s ease infinite;
    -moz-animation: portada-animacion 16s ease infinite;
    animation: portada-animacion 16s ease infinite;

    width: 100%;
    height: 26rem;
    margin-bottom: 400px;
    position: relative;
}

.bg-naranja-sm{
    background: linear-gradient(226deg, #ff5e1f, #300db1);
    background-size: 400% 400%;

    -webkit-animation: portada-animacion 16s ease infinite;
    -moz-animation: portada-animacion 16s ease infinite;
    animation: portada-animacion 16s ease infinite;

    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
    margin-bottom: 150px;
    position: relative;
}


@-webkit-keyframes portada-animacion {
    0%{background-position:97% 0%}
    50%{background-position:4% 100%}
    100%{background-position:97% 0%}
}
@-moz-keyframes portada-animacion {
    0%{background-position:97% 0%}
    50%{background-position:4% 100%}
    100%{background-position:97% 0%}
}
@keyframes portada-animacion {
    0%{background-position:97% 0%}
    50%{background-position:4% 100%}
    100%{background-position:97% 0%}
}

.titulo{
    color: #FFF;
    text-transform: uppercase;
    font-weight: 800;
}

.formato-carousel{
    position: absolute;
    top: 0px;
    z-index: 1;
}

.fc{
    width: 70%;
    left: 15%;
    -webkit-box-shadow: 6px 6px 30px -6px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 6px 6px 30px -6px rgba(0, 0, 0, 0.3);
    box-shadow: 6px 6px 30px -6px rgba(0, 0, 0, 0.3);
}

.fc-sm{
    width: 100%;
    left: 0%;
    -webkit-box-shadow: 6px 6px 30px -6px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 6px 6px 30px -6px rgba(0, 0, 0, 0.3);
    box-shadow: 6px 6px 30px -6px rgba(0, 0, 0, 0.3);
}

.titulo-carousel{
    color: white;
    font-size: 4rem;
    font-weight: 800;
    text-shadow: 4px 4px 8px rgba(0,0,0,0.52);
}

.titulo-carousel-sm{
    color: white;
    font-size: 1.8rem;
    font-weight: 800;
}

.titulo-carousel:hover{
    cursor: pointer;
    text-decoration: underline;
}

.card-titulo{
    color: #1f1f1f;
    text-transform: uppercase;
    font-weight: 800;
}

.card-titulo:hover{
    color: #ff5e1f;
}

.card-texto{
    color: #000000;
    opacity: 80%;
    font-weight: 500;
}

.card-texto:hover{
    color: #000000;
    opacity: 100%;
}

.card-hover{
    cursor: pointer;
}

.card-hover:hover{
    -webkit-box-shadow: 6px 6px 30px -6px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 6px 6px 30px -6px rgba(0, 0, 0, 0.3);
    box-shadow: 6px 6px 30px -6px rgba(0, 0, 0, 0.3);
}

.titulo-card{
    font-weight: 800;
    text-transform: uppercase;
}

.titulo-ppal{
    font-weight: 900;
    font-size: 3.1rem;
}

/* Elementos del detalle de cada noticia...*/

.margenes{
    margin-left: 35px;
    margin-right: 35px;
}

.titulo-detalle{
    font-size: 3.5rem;
    font-weight: 900;
}

.badge-rn{
    background-color: #ff5e1f;
    text-transform: uppercase;
    color: #FFF;
}

.badge-rn:hover{
    background-color: #300db1;
    text-transform: uppercase;
    color: #FFF;
    -webkit-box-shadow: 6px 6px 30px -6px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 6px 6px 30px -6px rgba(0, 0, 0, 0.3);
    box-shadow: 6px 6px 30px -6px rgba(0, 0, 0, 0.3);
    transition-delay: 20ms;
}

.texto-cuerpo{
    font-size: larger;
}

.titulo-404{
    font-size: x-large;
    font-weight: 700;
}

.bg-login{
    background: linear-gradient(226deg, #ff5e1f, #300db1);
    background-size: 400% 400%;

    -webkit-animation: portada-animacion 16s ease infinite;
    -moz-animation: portada-animacion 16s ease infinite;
    animation: portada-animacion 16s ease infinite;

    width: 100%;
    
}

.naranja-rn{
    color: #ff5e1f;
}

.naranja-rn:hover{
    color: #ff5e1f;
}

.btn-rn {
    color: #fff !important;
    background-color: #ff5e1f !important;
    font-weight: 700;
  }
  
  .btn-rn {
    color: #fff !important;
    background-color: #ff5e1f !important;
    border: none !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
    font-size: larger !important;
  }
  .btn-rn:hover {
    color: #fff !important;
    background-color: #ff5e1f !important;
    border: none !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
    font-size: larger !important;
    -webkit-box-shadow: 6px 6px 30px -6px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 6px 6px 30px -6px rgba(0, 0, 0, 0.3);
    box-shadow: 6px 6px 30px -6px rgba(0, 0, 0, 0.3);
  }

  .bg-rn{
      background-color: #ff5e1f;
  }